<header>
  <% if (message) { %>
    <p class="info"><%= message %></p>
  <% } %>
</header>

<form action="/auth/process" method="post">
	<div>
		<label>Username:</label>
		<input type="text" name="username"/><br/>
	</div>
	<div>
		<label>Password:</label>
		<input type="password" name="password"/>
	</div>
	<div>
		<input type="submit" value="Submit"/>
	</div>
	<p>No account yet? <a href="/auth/signup">Sign up for free!</a></p>
</form>
