<header>
  <% if (message != '') { %>
    <p class="info"><%= message %></p>
  <% } %>
</header>

<form action="/auth/process" method="post">
	<div>
		<label for="username">Username:</label>
		<input id="username" type="text" name="username" required pattern="[a-zA-Z0-9_-]{4,32}"/>
	</div>
	<div>
		<label for="password">Password:</label>
		<input for="password" type="password" name="password" required />
	</div>
	<div>
		<input type="submit" value="Login"/>
	</div>
	<p>No account yet? <a href="/auth/signup">Sign up for free!</a></p>
</form>
