<h1 id="header">
    <a href="http://elparlanteamarillo.com/" class="ir">El Parlante Amarillo</a>
</h1>

<% if (message != '') { %>
    <p class="info"><%= message %></p>
<% } %>

<div id="content" class="box">
    <h2>Bienvenido!</h2>

    <p>Desde acá tienes acceso al administrador de trivias. También puedes probar cada una de las trivias existentes.</p>

    <p>
        <a href="/trivia" class="button"><span>Administrador</span></a>
        <br />
        <a href="/game/1" class="button"><span>Jugar trivia EPA</span></a>
    </p>
</div>

<div id="footer">
    Copyright &copy; 2009 - 2013 - El Parlante Amarillo - Producción audiovisual por <a target="_blank" href="http://www.velouriatv.com/">Velouria TV</a> - Desarrollo web por <a target="_blank" href="http://8manos.com">∞manos</a>
</div>
