<h1 id="header">
    <a href="/">Trivia App</a>
</h1>
<div id="content">
    <h2>Welcome!</h2>

    <p>This is a basic trivia app, built with the Sails Framework.</p>

    <p>
        <a href="/trivia/detail/1" class="button"><span>Admin for trivia with id:1</span></a>
        <br />
        <a href="/game/1" class="button"><span>Play the trivia</span></a>
        <br />
        To use the app you need to <a href="/login" class="button">Login</a> or <a href="/auth/signup">Sign up</a>
    </p>
</div>

<div id="footer">
    <a target="_blank" href="http://sailsjs.com" class="copyright">Built with Sails.js</a>
</div>
