<div>
  <h1><%= trivia.name %></h1>

  <ul>
    <% _.each(questions, function (question) { %>
    <li>
    	<a href="/question/detail/<%= question.id %>"><%= question.question %></a>
    </li>
    <% }) %>
  </ul>
</div>
