<form method="post" action="/trivia/update" class="box">
	<div>
		<label for="name">Nombre de la Trivia:</label>
		<input type="text" name="name" id="name" value="<%= trivia.name %>" />
	</div>
	<div class="form-actions">
		<input type="hidden" name="id" value="<%= trivia.id %>" />
		<input type="submit" value="Guardar" />
	</div>
</form>
