<div class="box">
  <h1>Trivias</h1>

  <ul>
    <% _.each(trivias, function (trivia) { %>
    <li>
    	<a href="/trivia/detail/<%= trivia.id %>"><%= trivia.name %></a>
    </li>
    <% }) %>
  </ul>
</div>
